[2017-07-26 11:53] jpkrohling opened #1 "Mark the JAX-RS dependency as `provided`"
The JAX-RS dependency should be marked as `provided`, as the party consuming the OT instrumentation has a concrete implementation as dependency already.

This is what's shown as `mvn dependency:tree` for a Wildfly Swarm application when requiring `io.opentracing.contrib:opentracing-jaxrs2:0.0.8`:
[code]

[2017-07-26 12:17] malafeev commented on #1
@jpkrohling I think you submitted issue against wrong project.
`java-jdbc` doesn't have any dependency on `jax-rs`

[2017-07-26 12:38] #1 closed

[2017-07-26 12:48] jpkrohling commented on #1
Right, sorry :) The issue I have on this repo is another one (#2) .

[2017-09-21 16:42] redijedi opened #3 "tracing configuration question"
How can I limit the tracing such that it will only trace within an existing span?

[2017-09-22 01:41] malafeev commented on #3
Do you mean that if there is no active span then don't trace jdbc call?

[2017-09-22 11:35] redijedi commented on #3
Right. I'm only interested in JDBC calls within the context of larger requests. However, the way it is setup, it shows every call to the DB in isolation.

[2017-09-22 17:06] tedsuo commented on #3
Seems pretty reasonable, I imagine there are other libraries that would want this as well.

[2017-09-22 19:00] tedsuo commented on #3
Conversation happening in gitter on this btw https://gitter.im/opentracing/public

[2017-09-26 02:27] malafeev commented on #3
done, introduced property `traceWithActiveSpanOnly=true`

[2017-09-26 02:27] #3 closed

[2017-10-17 01:49] malafeev opened #6 "Make GlobalTracer optional"
It looks not possible because of https://github.com/opentracing-contrib/java-jdbc/blob/master/src/main/java/io/opentracing/contrib/jdbc/TracingDriver.java#L37:

[code]

[2018-03-10 06:03] zjutsuper opened #9 "Unable to find a driver that accepts"
dataSource is DruidDataSource

 String realUrl = this.extractRealUrl(url);
            String dbType = this.extractDbType(realUrl);
            String dbUser = info.getProperty("user");
            Driver wrappedDriver = this.findDriver(realUrl);

this.findDriver(url) need using url not realUrl
this version will throw Excetpion
Caused by: java.sql.SQLException: Unable to find a driver that accepts

[2018-05-04 07:56] malafeev commented on #9
I will add it at least to README

[2018-05-10 23:11] KoenDG commented on #6
Just started using this library. Making GlobalTracer optional would be really helpful.

Right now, it just logs the queries with no context at all as to how they were generated.

Imagine working with REST api where each call to the API is handled in its own thread and therefor, each thread gets its own tracer.

With GlobalTracer, you lose context as to which thread generated the query. With Global

[2018-05-11 02:54] malafeev commented on #6
Ideally tracer should be only one per application (jvm instance).
GlobalTracer solves the problem of passing the same tracer to all parts of code.

Your REST endpoints should be instrumented also. Then jdbc span will use REST span as parent span. So you will see chain of spans (REST->jdbc). It will give you idea of trace path.

[2018-05-11 08:14] KoenDG commented on #6
I'll look into it. So far, my attempts at using a static tracer have resulted in there being 1 single trace in jaeger and it containing more and more spans as more calls come in.

Which isn't really clear. Having each call in its own trace would be more clear, with the starting time and all that.

I'll try and set up a demo project based on what I'm doing and present that. I'm clearly doing someth

[2018-05-13 21:38] KoenDG commented on #6
@malafeev I made a demo project here: https://github.com/KoenDG/play-java-ebean-example/tree/tracingAttempt

On a branch called `tracingAttempt`.

Diff with original can be seen here: https://github.com/KoenDG/play-java-ebean-example/compare/2.6.x...KoenDG:tracingAttempt

So I run my code, I run the jaeger docker image like this: `docker run -p5775:5775/udp -p6831:6831/udp -p6832:6832/udp -p16686:

[2018-05-14 06:04] malafeev commented on #6
@KoenDG
I cannot add comments to diff you provided.
Could you create PR from `tracingAttempt` branch  to `2.6.x` branch, so I will be able to comment?

[2018-05-14 10:04] KoenDG commented on #6
@malafeev My bad, here's the PR: https://github.com/KoenDG/play-java-ebean-example/pull/1

[2018-08-16 07:21] jpkrohling opened #15 "Benchmarks - overhead of instrumented code without a tracer"
See opentracing/opentracing-java#295

Similar to the linked issue, this task is about measuring the overhead of traced JDBC calls when compared to their non-traced counter-parts.

Scenarios to test:

- [ ] Using an in-memory database, execute as many simple queries as possible (like `select 1`). Run it by time (X statements per minute) and by a fixed number of statements (task took N seconds to co

[2018-08-16 07:25] malafeev commented on #15
@jpkrohling done

[2018-08-16 07:29] jpkrohling commented on #15
Thanks!

[2018-10-05 16:32] malafeev commented on #9
README updated

[2018-10-05 16:32] #9 closed

[2018-10-22 02:12] wuyupengwoaini opened #18 "when error occurs, it do not report error span"
https://github.com/opentracing-contrib/java-jdbc/blob/dc5973776072b81fb88daafc72f68ec20e840144/src/main/java/io/opentracing/contrib/jdbc/TracingPreparedStatement.java#L72-L76

all jdbc accesses have this problem

[2018-10-22 02:35] wuyupengwoaini opened #19 "when error occurs,it does not report error span"
https://github.com/opentracing-contrib/java-jdbc/blob/dc5973776072b81fb88daafc72f68ec20e840144/src/main/java/io/opentracing/contrib/jdbc/TracingStatement.java#L75-L79

all jdbc accesses have this problem

[2018-10-22 11:44] malafeev commented on #19
fixed

[2018-10-22 11:44] #19 closed

[2018-10-22 11:45] malafeev commented on #18
fixed

[2018-10-22 11:45] #18 closed

[2018-12-28 15:49] wcarmon opened #24 "hard coded JdbcTracingUtils"
Most of the other opentracing contrib projects use a SpanDecorator so users can customize the span.

Is there any reason you have hard-coded `JdbcTracingUtils.on*()` instead of the SpanDecorator pattern?

Examples:
- https://github.com/opentracing-contrib/java-spring-web/blob/master/opentracing-spring-web/src/main/java/io/opentracing/contrib/spring/web/client/RestTemplateSpanDecorator.java
- https

[2018-12-28 16:00] malafeev commented on #24
To be honest it looked redundant for me.
If it's useful please submit PR.

[2019-01-01 19:55] wcarmon commented on #24
Happy new year :-)

It will take me a few days to propose a clean refactoring for SpanDecorators.

Thanks for releasing the changes I sent previously.

[2019-01-09 10:07] wuyupengwoaini opened #26 "TracingConnection improvement"
When i use OpenTracing Spring Cloud project to trace jdbc,and i findthe problem
[JdbcAspect.getConnection` will execute `SELECT USER()` every time](https://github.com/opentracing-contrib/java-spring-cloud/issues/173)

But i also think it is so hard to opentracing-spring-cloud-jdbc-starter to fix this issue,beacause the java class
TracingConnnection's  Construction method must need username.So coul

[2019-01-10 06:05] malafeev commented on #26
@wuyupengwoaini it's not clear for me, could you submit PR with tests to see the issue?

[2019-01-11 08:34] wuyupengwoaini commented on #26
https://github.com/opentracing-contrib/java-jdbc/pull/27
@malafeev

[2019-01-11 08:37] malafeev commented on #26
thanks @wuyupengwoaini, I will review it

[2019-05-03 00:14] yurishkuro commented on #6
This library currently only seems to support instantiation via driver class name, which is typically not recommended for any serious applications using any sort of framework. The recommended way is via DataSource, which allow the framework to manage the life cycle of the objects. The best solution is to pull  out the instrumentation portion out of the TracingDriver class into another class that ac

[2019-05-03 07:30] malafeev commented on #6
That's not true.
Usually you never instantiate the driver. It should be only in the classpath.
This library works with Spring, Hibernate, plain jdbc.
Please look at tests.

[2019-05-03 12:28] yurishkuro commented on #6
BasicDataSource dataSource = new BasicDataSource();
 dataSource.setDriverClassName("io.opentracing.contrib.jdbc.TracingDriver");

This is from Spring example - still creates driver by class name.

[2019-05-03 13:00] malafeev commented on #6
you can remove this line, and tests will pass.

[2019-05-03 13:06] malafeev commented on #6
but I still don't understand complain, DataSource configuration accepts driver class name. If you think it's a bad practice it's not issue of this lib.

[2019-05-03 13:38] yurishkuro commented on #6
The issue is dependency on global tracer. The only situation where it's necessary is when people load driver by class name. This lib can provide an implementation of DataSource that can be instantiated as a normal class (no statics or singletons of any sort) and accept the tracer as an argument. Then the existing driver mechanism can use that to initialize its singleton with global tracer, to not

[2019-05-03 13:46] malafeev commented on #6
In some cases you don't instantiate DataSource, you just declare it via configuration file (e.g. Spring Boot).
If you can instantiate datasource, you also can instantiate TracingDriver and provide tracer via setter (which exists) to avoid using GlobalTracer.

[2019-05-03 14:43] yurishkuro commented on #6
Here's an example where tracer is not passed and the JdbcUtils class will fall back onto global tracer:

https://github.com/opentracing-contrib/java-jdbc/blob/08c40eff7a8cae98069339bbd24226e8b6200a3e/src/main/java/io/opentracing/contrib/jdbc/TracingConnection.java#L73-L76

While it's easy to fix, issues like that do not inspire confidence that this lib is ready for prod use. What I am proposing is

[2019-05-04 11:54] malafeev commented on #6
- @NotNull  is not supported by java 7 (We have to upgrade to java 8 at least)
- remove getNullsafeTracer() completely - sounds good

[2019-05-06 08:30] Olard opened #33 "H2 URL with implicit file mode does not work"
H2 does not require that 'file:' is explicitly stated, but the H2URLParser does.

Example that worked with 0.0.8: jdbc:tracing:h2:~/db;AUTO_SERVER=TRUE;MODE=Oracle;MVCC=TRUE;LOCK_TIMEOUT=10000?traceWithActiveSpanOnly=true

[2019-05-07 11:30] malafeev commented on #33
fixed by #34

[2019-05-07 11:30] #33 closed

[2019-05-14 11:14] birdli66 opened #35 "URLParser not happy with tnsnames.ora logging 'error occurs when paring jdbc url'"
You have a small issue here in version 0.0.12 when using external tnsnames.ora wuth URL's of the from ''jdbc:oracle:thin:@tns_entry":
[code]

Details:
https://docs.oracle.com/en/database/oracle/oracle-database/19/jjdbc/data-sources-and-URLs.html
Section 8.2.6

Consequences: Minor
- warning in the log
- ConnectionInfo on spans not set

Fix in fetchDatabaseHostsFromURL:
[code]

No big deal, but you

[2019-06-06 02:36] code98 opened #36 "After using druid data connection pool, there will be a connection failure error."
Cause: com.mysql.jdbc.exceptions.jdbc4.CommunicationsException: Communications link failure The last packet successfully received from the server was 767,031 milliseconds ago. The last packet sent successfully to the server was 30 milliseconds ago.

[2019-06-06 04:29] malafeev commented on #36
@code98 could you provide JUnit test with druid to reproduce the issue? Or small application?
If possible please provide stacktrace.
I have no idea what's wrong between this library and druid.

[2019-06-07 16:27] sudiptasish opened #37 "TracerPreparedStatement.executeBatch() is failing."
First, let’s revisit the interface/class hierarchy:

1. java.sql.PreparedStatement extends java.sql.Statement
2. io.opentracing.contrib.jdbc.TracingStatement implements java.sql.Statement
3. io.opentracing.contrib.jdbc.TracingPreparedStatement implements java.sql.PreparedStatement
4. io.opentracing.contrib.jdbc.TracingPreparedStatement extends io.opentracing.contrib.jdbc.TracingStatement

Some fac

[2019-06-07 16:39] malafeev commented on #37
`TracingConnection` passes owned instance of tracer to `TracingPreparedStatement` and `TracingStatement`.
So they all have the same tracer object.

[2019-06-07 16:41] malafeev commented on #37
Could you provide JUnit test for your case (like in https://github.com/opentracing-contrib/java-jdbc/blob/master/src/test/java/io/opentracing/contrib/jdbc/JdbcTest.java) or sample application?

[2019-06-07 17:11] malafeev commented on #37
I created PR #38 based on what you described, actually you are right, fields of `TracingStatement` should be reused. Although I still don't understand why `executeBatch()` is failing for you.

[2019-06-08 09:43] sudiptasish commented on #37
Note that, we are not using GlobalTracer to store our platform Tracer instance.

Before we go into the test case, let me try to explain it further. Consider the below 3 classes:

1.
public class Base {
    private Tracer tracer;

    public Base(Tracer tracer) {
        this.tracer = tracer;
    }

    public void executeBatch() {
        System.out.println("Tracer Object: " + tracer);
    }
}

2.

[2019-06-08 09:48] malafeev commented on #37
thanks @sudiptasish , got it.
So my merged PR #38 should fix the problem now.
Let me just release a new version.

[2019-06-08 09:58] malafeev commented on #37
0.1.3 version released

[2019-06-08 09:58] #37 closed

[2019-06-10 03:10] code98 commented on #36
@malafeev like this:

Caused by: com.mysql.jdbc.exceptions.jdbc4.CommunicationsException: Communications link failure

The last packet successfully received from the server was 121,063 milliseconds ago.
The last packet sent successfully to the server was 121,065 milliseconds ago.
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl

[2019-06-11 07:59] apemost opened #40 "HikariPool: No operations allowed after connection closed"
HikariPool-1 - Failed to validate connection io.opentracing.contrib.jdbc.TracingConnection@354677a7 (No operations allowed after connection closed.).

[2019-06-15 16:34] deximat opened #41 "TracingPreparedStatement.executeUpdate NPE"
In TracingCallableStatement:69, for tracer null is being forwarded.

That causes NPE when calling TracingPreparedStatement.executeUpdate(), since in JdbcTracingUtils line 41 and 47 accesses tracer.

[2019-07-01 03:26] malafeev commented on #41
fixed in #42

[2019-07-01 03:26] #41 closed

[2019-07-04 11:33] DannyNoam opened #43 "Instrumentation does not add span to existing span context"
Hi there,

I'm relatively new to OpenTracing, and started using this library to instrument JDBC calls in our application. The way our application works is that it consumes an event from Kafka, and makes a database call to insert a new row in our database.

Consuming an event from Kafka successfully creates a span, and I would expect the JDBC call to create a `follows_from` reference to the previou

[2019-07-04 14:02] malafeev commented on #43
This library adds parent span if there is an active one.
I expect that when you receive an even from Kafka you don't have an active span during jdbc call. (kafka span is closed, not activated).

[2019-07-04 15:17] DannyNoam commented on #43
Thanks for the response! You're right - the previous span has finished, and there is no active span. My understanding is that, in my example, there are two distinct operations:

[ Span: Consume event from kafka ] ----> [ Span: JDBC query ]

Rather than:

[ Span: Consume event from kafka and make JDBC query ]

If we conflate the two spans as one, then the span will both contain information about Ka

[2019-07-04 15:34] malafeev commented on #43
spans should be separate, but they should have relation.
If you have access to kafka record then you can extract kafka span context:
[code]

[2019-07-04 16:19] yurishkuro commented on #43
@DannyNoam what kind of instrumentation are you using for Kafka?

I have a working example using `opentracing-kafka-spring` (https://github.com/PacktPublishing/Mastering-Distributed-Tracing/tree/master/Chapter05), but it requires manual creation of the consumer handler span, similar to what @malafeev showed.

[2019-07-15 16:53] randallt opened #44 "JdbcTracingUtils.decorate can set empty tag values which can break tracers"
I am using the Java SpecialAgent 1.3.2 with a Wavefront Tracer. The Wavefront Tracer does not support empty tag values (an empty String) and throws an exception when processing the span. The OpenTracing spec seems to imply that empty tag values should not be used, but doesn't specifically say they are disallowed:

From https://opentracing.io/specification/ :
[code]

The code checks for null, but a

[2019-07-15 19:45] randallt commented on #44
Actually, it looks like it is the 'db.statement' tag that is empty in my case. Same logic applies--should not add the tag if there is no value.

[2019-07-16 15:22] randallt commented on #44
Possible solution here:
[code]

[2019-07-16 15:25] malafeev commented on #44
@randallt would you like to submit a PR?

[2019-07-18 02:48] malafeev commented on #44
fixed in #46

[2019-07-18 02:48] #44 closed

[2019-07-18 12:06] randallt commented on #44
Looks good. Thanks.

[2019-08-01 03:21] changjiang2016 opened #47 "peer.address in tag is not in common tags of opentracing"
peer.address  is not common tags of opentracing.Why not use tags,such as peer.hostname and peer.port, instead of peer.address in the code ?

[2019-08-01 06:09] malafeev commented on #47
because it's a trick to extract hostname/port when:
- database is in memory
- database is a file
- default port is different for different databases
would you like to submit a PR to fix all cases for major databases jdbc url variations?

[2019-08-07 07:25] whiskeysierra commented on #47
It now is: https://github.com/opentracing/specification/pull/53

[2019-08-07 07:27] whiskeysierra commented on #24
It allows customization which would make this library infinitely more useful. Related to https://en.wikipedia.org/wiki/Open%E2%80%93closed_principle

[2019-08-07 07:28] malafeev commented on #24
PR is welcome

[2019-08-15 01:26] Hohenheimsenberg commented on #43
I'm having issues instrumenting my traces with this library too.
Should't `JdbcTracingUtils.buildSpan()`  have something like this:

[code]

Currently it doesn't have a reference to its parent.

[2019-08-15 12:21] malafeev commented on #43
@Hohenheimsenberg it's not needed to set explicitly parent span via `asChildOf`.
could you verify that there is an active span before you execute a query?

[2019-08-16 15:52] Hohenheimsenberg commented on #43
You are right, if there is an active span it automatically creates it 'asChildOf' the active one. I was debugin it wrong.

[2019-11-05 09:18] #35 closed

[2019-11-26 21:55] slowteetoe opened #54 "URLParser reports "error occurs when paring jdbc url" for valid mysql url"
The URLParser is emitting a large amount of WARN level messages about 'error occurs when paring jdbc url'

I added some debugging and discovered that the `url` it is complaining about is `jdbc:mysql://mysql_db`

This is actually a valid syntax for a mysql JDBC connection url (see the section about `database` in https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-reference-jdbc-url-format.html

[2019-11-26 22:48] slowteetoe commented on #54
This turned out to be an index out of bounds exception when the url doesn't have a query string component. Fix, and test, in https://github.com/opentracing-contrib/java-jdbc/pull/55

[2019-11-26 22:55] slowteetoe commented on #54
Also, as a workaround in the meantime, you can just append a '?' to the url.

e.g. `jdbc:mysql://mysql_db?` will parse correctly

[2019-11-27 02:58] malafeev commented on #54
merged #55

[2019-11-27 02:58] #54 closed

[2019-12-22 09:54] jchnxu commented on #36
I have met an almost similar situation to you. @code98

[code]

The connection is still in MySQL but somehow the client disconnects the connection.

[2019-12-26 17:16] osvaldopina opened #56 "Control whether jdbc traces will be enabled or not."
I'm new to this library and I could not find a way to turn it on and off depending on a global configuration. My need is to control wheter I'm going to trace jdbc calls or not and chage this behavior without the need to restart de application. Is it possible?

[2019-12-30 07:37] dimovelev opened #57 "Wrapping oracle jdbc 18.3.0 broke after 0.1.7"
When using the latest version of the opentracing driver, I get timeout exceptions when connecting to the database. Downgrading to 0.1.7 fixes the issue.

[2019-12-30 07:46] dimovelev commented on #57
Maybe it was caused by commit be1a35905412b641c4483fe7d741f6d1a124f987 . It fails to correctly parse the URL for the value "jdbc:oracle:thin:@192.168.105.100:11521/XEPDB1" - it thinks that the database name is "11521/XEPDB1" - so basically incorrectly handles port specifications.

[2020-01-02 12:41] #57 closed

[2020-01-02 12:58] malafeev commented on #56
In general it's not supported.
For interceptor usage `TracingDriver.setInterceptorProperty(true);` and `TracingDriver.setInterceptorProperty(false);` can work in some cases. But not always, it's limited to new connections and will not work for connection pool.

[2020-01-14 18:58] rlubke opened #60 "DynamicProxy ClassCastException when using JPA"
This appears related to #59 as if I rollback to 0.2.4, the error does not occur.

Error (sorry, it's a long one):

[code]

My persistence.xml is defined as:

[code]

[2020-01-15 06:47] malafeev commented on #60
@rlubke fix is released in version 0.2.6, please verify.

[2020-01-16 00:43] rlubke commented on #60
Still failing, but differently - and in a way I can't quite explain.

[code]
Since I last posted, I had changed my persistence settings to drop and create the tables:

```<property name="eclipselink.ddl-generation" value="drop-and-create-tables"/>```

Version `0.2.4` continues to work, however.  I will keep digging on this side, but if you can think of anything I could or should look at, please le

[2020-01-16 02:31] malafeev commented on #60
@rlubke could you provide sample application to reproduce this issue or could you create a unit test like there is one for Hibernate (https://github.com/opentracing-contrib/java-jdbc/blob/master/src/test/java/io/opentracing/contrib/jdbc/HibernateTest.java) ?

Issue is really strange.
cc @safris

[2020-01-16 02:34] safris commented on #60
@rlubke, are you receiving this error with `v0.2.6`? What about with `v0.2.7-SNAPSHOT`?

[2020-01-16 10:52] mouseDH opened #63 "java.lang.IllegalArgumentException: object is not an instance of declaring class"
When i integrated  alibaba's druid and java-jdbc, somtimes there is an error was thrown,sometimes is ok. the error message is the follow content:
`java.lang.IllegalArgumentException: object is not an instance of declaring class
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method) ~[na:1.8.0_211]
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62) ~[na:1.8.0

[2020-01-16 12:54] malafeev commented on #63
cc @safris
could be related to #60

[2020-01-16 12:58] safris commented on #63
@mouseDH and @malafeev, this is fixed in the current [this commit](https://github.com/opentracing-contrib/java-jdbc/commit/592e6eed4a79a2d48c67035ae075992ebb228010) in [this file](https://github.com/opentracing-contrib/java-jdbc/blob/592e6eed4a79a2d48c67035ae075992ebb228010/src/main/java/io/opentracing/contrib/jdbc/DynamicProxy.java#L60-L65). A test for this situation was [added here](https://gith

[2020-01-16 13:01] malafeev commented on #63
I was confused by
[code]

[2020-01-16 13:03] safris commented on #63
Sorry, please ignore that. Once you release v0.2.7, I'll update this in SpecialAgent.

[2020-01-17 00:14] rlubke commented on #60
@safris Yes, `0.2.6`.  I just tried with the head of the master branch and I see the same error.

I haven't quite had a chance to dig further.

[2020-01-24 09:27] cyrille-leclerc commented on #60
I faced a very similar problem and had to revert from opentracing-jdbc 0.2.7 to 0.2.4

[code]

[2020-01-24 10:02] safris commented on #60
Hi @cyrille-leclerc, this is an error I've not encountered before, but I believe I know how to resolve it. I've submitted PR #65.

[2020-02-03 10:13] safris commented on #60
Hi @cyrille-leclerc, can you advise whether you are still experiencing this issue?

[2020-02-05 04:24] cyrille-leclerc commented on #60
@safris I NO longer face the issue as reported on https://github.com/opentracing-contrib/java-jdbc/pull/65#issuecomment-578163518 .

[2020-02-13 02:39] malafeev commented on #63
@mouseDH can be this issue closed now?

[2020-02-13 02:40] #60 closed

[2020-02-13 02:40] #56 closed

[2020-02-13 02:41] #47 closed

[2020-02-13 02:41] #43 closed

[2020-02-21 20:28] yisheng-liang opened #68 "In interceptor mode, TracingDriver#acceptsURL should accept URLs without "tracing:""
Interceptor mode may not work in some cases. For instance, if another wrapper driver calls `Driver#acceptsURL` for each registered driver in order to find an underlying driver, it won't see `TracingDriver` unless the JDBC URL has been rewritten to have the `jdbc:tracing:` prefix.

Simple fix is to change `TracingDriver#acceptsURL` to be:

[code]

[2020-02-24 05:37] malafeev commented on #68
that's not so simple.
`acceptsURL(...)` is used in `TracingDriver.connect(...)`:
https://github.com/opentracing-contrib/java-jdbc/blob/master/src/main/java/io/opentracing/contrib/jdbc/TracingDriver.java#L153

this `if` statement also should be modified to explicitly accept urls only with "jdbc:tracing:"

[2020-02-26 18:53] yisheng-liang commented on #68
We could modify `TracingDriver#connect` such that it doesn't try to parse the url if `interceptorMode` is true. Just need to move around those `if` branches like this:

[code]

I think this makes sense. Since in interceptor mode, the driver is supposed to be able to intercept JDBC operations without the need of modifying JDBC URLs, so it should not even try to find `traceWithActiveSpanOnly` or `ig

[2020-02-27 13:53] malafeev commented on #68
@yisheng-liang would you like to submit PR?

[2020-02-28 04:55] #68 closed

[2020-02-28 04:56] malafeev commented on #63
please reopen if issue still exists

[2020-02-28 04:56] #63 closed

[2020-03-02 20:43] yisheng-liang commented on #68
Are you going to cut a new release soon? Releases were cut in January quite often but nothing in February.

[2020-03-03 12:35] malafeev commented on #68
0.2.9 is released

[2020-03-04 10:22] mouseDH commented on #63
yeah, this issue can be closed! thks

[2020-03-13 18:30] ivan-slavchev opened #71 "Using Oracle oci driver causes NPE, because of OracleURLParser "thin" expectations"
When using "oci" driver instead of "thin" the OracleURLParser is not capable of recognizing the pattern and returns null. This causes NPE later. At the same time the prefix that is expected for the OracleURLParser to pick up the connection string is "jdbc:oracle" and not "jdbc:oracle:thin". This makes it impossible to register custom parser specifically for oci.

[2020-03-16 03:05] malafeev commented on #71
@ivan-slavchev would you like to submit PR?

[2020-03-16 06:50] ivan-slavchev commented on #71
https://github.com/opentracing-contrib/java-jdbc/pull/72

[2020-03-16 13:10] malafeev commented on #71
0.2.10 release with fix will be available in couple of hours

[2020-03-16 13:10] #71 closed

[2020-03-26 20:54] rlubke commented on #60
Sorry, I was just able to get back to this.  I can confirm the issue is resolved in 2.10.

[2020-05-15 18:57] jagdishkulkarni opened #73 "Why we need to have TracingDriver as the first registered driver?"
Any specific reason why we are deregistering other driver's and reregistering it again?

[2020-06-11 07:32] Amiedeep opened #74 "Error span when record doesn't exist in database."
My database has a customer table with ID as a primary key.

Expected behavior: When I search for a record that doesn't exist in the database, I should see an error span in the Jaeger UI.

Actual behavior: When I search for a record that doesn't exist in the database, there is no error span created.

Code:

I'm calling JPA repository from a service using:
` Customer customer = customerRepository.fi

[2020-06-16 04:15] quaff commented on #73
@safris  Oracle ojdbc doesn't support registering after deregistering, It will throw exception.

[code]

[2020-06-16 04:16] quaff commented on #73
A regression introduced by https://github.com/opentracing-contrib/java-jdbc/pull/51

[2020-06-16 08:03] quaff commented on #73
Because interceptor mode need TracingDriver be the first driver, so it can accepts any jdbc url then delegate to the real driver, It's a pity that DriverManager doesn't provide a mechanism to control drivers order.

[2020-06-16 08:04] quaff commented on #73
I suggest not try to deregister and register again because some drivers are one-off, leave it to the application to make sure TracingDriver is registered first since they must call setInterceptorMode(true) somewhere, for example before a servlet context initialized.
[code]
we could add an instruction in https://github.com/opentracing-contrib/java-jdbc#interceptor.
WDYT @safris

[2020-06-16 17:01] felipeazv commented on #73
Hello,
I am currently facing this specific issue.
Is there any fix (or workaround) for Tracing with Oracle ojdbc?

specs:
spring-boot: 2.3.0
ojdbc10: 19.3.0.0
opentracing-jdbc:0.2.8 (from opentracing-spring-cloud-jdbc-starter: 0.5.4)
flyway-core:6.4.1

Thanks!

[2020-06-16 18:54] jagdishkulkarni commented on #73
Right, Oracle throws Timeout exception

[2020-06-17 00:29] quaff commented on #36
I don't think it's related to `TracingDriver`.

[2020-06-17 07:32] malafeev commented on #74
error span will be created only if there is a mistake in query, failed connection etc.
but `findByID` returning null is valid case and normal span will be created.

[2020-06-17 07:32] #74 closed

[2020-06-18 00:36] quaff commented on #73
@jagdishkulkarni This issue is resolved in v0.2.11, you can try it.

[2020-06-18 01:55] jagdishkulkarni commented on #73
Thank you. Will test and confirm.

[2020-06-22 08:21] code98 commented on #36
@quaff hi, If I don’t use ‘TracingDriver’, the system will run for a long time without problems. If I use ‘TracingDriver’, it will appear in a few days, and it will inevitably appear.

[2020-06-22 09:15] quaff commented on #36
@code98 please try latest v0.2.11, use `TracingDataSource` instead of `TracingDriver` if it appear, and give more feedback.

[2020-06-23 16:48] jaroslaw-bochniak commented on #73
I can confirm that it works with version `0.2.11`

[2020-06-24 05:12] unkish commented on #73
Confirming that updating to version `0.2.11` resolved the issue.

[2020-06-24 14:25] jagdishkulkarni commented on #73
Its working after upgrading to version `0.2.11`

[2020-06-24 14:27] #73 closed

[2020-07-23 03:11] andyisgoodboy opened #81 "TracingDriver deregisterDriver and registerDriver will cause oracle ojdbc8 driver not work"
<dependency>
            <groupId>com.oracle.ojdbc</groupId>
            <artifactId>ojdbc8</artifactId>
            <version>19.3.0.0</version>
        </dependency>

<dependency>
        <groupId>io.opentracing.contrib</groupId>
       <artifactId>opentracing-jdbc</artifactId>
       <version>0.2.9</version>
</dependency>

When project startup, we will see error message: (even I add TracingDrive

[2020-07-23 03:27] malafeev commented on #81
@andyisgoodboy could you try opentracing-jdbc 0.2.11

[2020-07-23 03:50] andyisgoodboy commented on #81
Thanks, tested and looks good to me

[2020-07-23 03:50] #81 closed

[2020-07-28 16:51] blackat opened #82 "WildFly 19 configuration"
Hello,
is there any tutorial or guide to configure the jdbc trace for WildfFly or any other application server without touching the application or the JPA persistent unit?
Our application is in JTA mode so we configure the datasource in the application server but we don't instantiate it directly.

Thanks for your attention.

[2020-07-29 03:44] malafeev commented on #82
there is no tutorial, but probably you can load TracingDriver jar and change jdbc url to start with `jdbc:tracing:`.
but unfortunately I cannot help on this.

[2020-08-20 21:51] randallt opened #83 "memory leak using C3PO pooling library"
I am using a custom fork of the Java Special Agent. We have a service that relies on the Quartz scheduler, which uses C3PO  (v0.9.1.1). With the tracing agent applied, the service leaks memory until it throws an OOM error.

A heap dump showed that TracingPreparedStatements were being leaked. I tracked this to the use of the WrapperProxy and the fact that, given a Proxy instance of TracingConnectio

[2020-08-24 03:05] malafeev commented on #83
@randallt would you like to submit PR? please add comments to the code.

[2020-08-24 14:55] janfreymann opened #84 "URLParser unable to handle replication keyword"
Hi,

first of all, thanks for the great implementation of Jaeger integration for Spring Boot. It is very easy to integrate and useful for our project.

I noticed for one Spring Boot based service that connects to a cluster of database instances that the `URLParser` of Jdbc is not able to handle the following JDBC URL format:

[code]

If the `:replication`part of the URL is omitted, the tag `peer.a

[2020-08-24 17:34] randallt commented on #83
Can someone please submit the PR for me? The only non-standard thing about the equals method is the trick to call the equals method on 'obj', which gets through the Proxy and WrapperProxy layers so that one of the other comparisons can function.

[2020-08-25 06:10] malafeev commented on #84
PR is welcome

[2020-08-25 07:31] janfreymann commented on #84
Hi, when trying to create a PR, I noticed that the issue is not with the URLParser, but rather with the underlying Hikari Pool. When the `ConnectionInfo` asks for the URL, it gets the `**internally_generated**1598275417336** ` bit directly from the Hikari proxy connection, so nothing to to about it here.

So I think we can close the issue here...

[2020-08-25 07:31] #84 closed

[2020-08-27 09:03] xehonk opened #85 "Postgres url parser fails to parse IPv6 hosts"
every database connection will cause a new log message to be printed and the host and port of the server are not properly logged.
`i.o.contrib.jdbc.parser.URLParser        : error occurs when parsing jdbc url`

example that fails:
`jdbc:postgresql://[::1]:5432/db`

[2020-08-28 04:44] malafeev commented on #85
fixed via #86

[2020-08-28 04:44] #85 closed

[2020-09-11 12:32] oburgosm opened #92 "Support for other databases like db2, mssql, and others"
Now, URLParser can extract data from:

* mysql
* oracle
* H2
* postgresql
* mariadb

It was useful extends it to support another databases like db2, mssql, and others.

I can do a PR for db2, as400 and mssql

[2020-09-11 14:33] malafeev commented on #92
mssql is added by recent PR https://github.com/opentracing-contrib/java-jdbc/pull/89/files

others PRs are welcome

[2020-09-11 14:44] oburgosm commented on #92
https://github.com/opentracing-contrib/java-jdbc/pull/93/files

[2020-09-14 08:58] quaff commented on #24
I'm wondering is this really important? could somebody show me valid use case.

[2020-09-14 09:00] quaff commented on #92
Should this be closed now?

[2020-09-14 09:29] quaff commented on #83
@randallt could you test https://github.com/opentracing-contrib/java-jdbc/pull/97

[2020-10-13 12:57] farukciber opened #104 "URLParser reports "error occurs when paring jdbc url" for ldap Oracle url"
The URLParser is writing WARN level message 'error occurs when paring jdbc url' when
using the JDBC connection url such as jdbc:oracle:thin:@ldap://oid:5000/mydb1,cn=OracleContext,dc=myco,dc=com

This is a valid syntax for an Oracle JDBC connection url (see below)
https://docs.oracle.com/cd/E57185_01/EPMIS/apbs01s02.html

I can do a PR which is a regex change for EASY_CONNECT_PATTERN in OracleURLP

[2020-10-13 13:00] malafeev commented on #104
@farukciber PR is welcome

[2020-10-13 13:01] #92 closed

[2020-10-13 13:57] #104 closed

[2020-12-23 12:47] #40 closed

[2021-01-07 17:30] avifro-dev opened #107 "Invoking by code to change slowQueryThresholdMs"
It's well documented that it's possible to change `slowQueryThresholdMs` value by code, as it's public static variable.
For example as in the below example:
`io.opentracing.contrib.jdbc.JdbcTracingUtils.slowQueryThresholdMs = 100`
Unfortunately, the class containing this static variable has a package scope (`JdbcTracingUtils`), so I'm afraid it's not possible to do so.
The only way of setting this

[2021-02-10 21:12] naveedyahyazadeh opened #109 "New option to exclude spans faster than a latency threshold"
Similar to `slowQueryThresholdMs`, another beneficial optional setting would be a flag to omit spans that are faster than some latency threshold (i.e: `excludeSpansBelowQueryThreshold=100ms`). This can be implemented identically to the existing flag, but will reduce the number of spans produced by the Driver.

This change will have significant performance benefits on systems that produce high numb

[2021-02-11 02:40] malafeev commented on #109
@naveedyahyazadeh PR is welcome

[2021-02-16 06:04] trajano commented on #107
The class `JdbcTracingUtils` is not public so you can't change it easily.

[2021-02-20 15:32] asvanberg commented on #6
This issue can be closed since the dependency on GlobalTracer is long gone and there's a tracing implementation of java.sql.DataSource

[2021-02-22 07:56] #6 closed

[2021-02-23 00:38] #107 closed

[2021-03-02 22:06] naveedyahyazadeh commented on #109
Done, see PR #112 @malafeev

[2021-03-03 14:38] naveedyahyazadeh commented on #109
Thank you for merging. Might I also bother you to release a new minor version release?

[2021-03-03 15:22] malafeev commented on #109
@naveedyahyazadeh 0.2.14 is released

[2021-03-03 15:26] naveedyahyazadeh commented on #109
Thank you for the swift responses and action!

[2021-03-03 15:26] #109 closed

[2021-03-22 13:35] oburgosm opened #114 "OracleURLParser return a null ConnectionInfo when url prefix is not in lowerCase"
OracleURLParser#parse return a null ConnectionInfo when url prefix is not in lowerCase, for example `jdbc:Oracle:thin:@...`, but URLParser#findURLParser match for OracleURLParser with this url

[2021-03-22 13:51] malafeev commented on #114
PR is welcome

[2021-03-23 01:23] #114 closed

[2021-06-24 12:25] loicmathieu opened #116 "Not compatible with native image since version 0.2.5"
Since version 0.2.5, the library uses a dynamic proxy (via WrapperProxy) on top of the JDBC connection.
Dynamic proxy didn't work OOTB on GraalVM native image, they need to be configured explicitly.

However, to configure native image dynamic proxy capability, we must configure the list of interface of the proxy, in the right order ! WrapperProxy generates a list of interfaces in no order, so we m

[2021-12-20 16:19] gsmet commented on #116
Hey there,

We are kinda stuck in Quarkus to an old version (0.2.4) due to this proxy issue.

As Loïc mentioned it, for GraalVM and native executables, we need to register the proxies beforehand. Proxies have to be generated with the exact list of interfaces in the exact order in which they are used in the proxy declaration.

I think there are two issues we need to solve:
- we need a stable order

[2022-03-04 09:08] krunalyadav opened #121 "Error while creating mysql connection using non-interceptor mode"
When we add libraries and follow the steps mentioned in the non-interceptor mode as per the ReadMe file, we are getting the below connection error. Please advice. Also, does it work for JDBC connection pool?

[code]

[2022-05-30 01:15] jiaozhuchen commented on #36
请问这个问题解决了吗?我也遇到了

[2022-07-07 05:50] fin-steenbjerg-jyskebank-dk opened #122 "Support for XA datasources"
I have several applications configured to use XA datasources and would like to have tracing added to these applications. As far as I can see this requires an implementation of java.sql.XADatasource in order to work (it certainly fails if a add tracing to an XA connection url). Is there any plans for supporting XA datasources?